apiVersion: dapr.io/v1alpha1
kind: Configuration
metadata:
  name: bff-config
spec:
  tracing:
    samplingRate: "1"
    otel:
      endpointAddress: "otel-collector:4317"
      isSecure: false
      protocol: grpc
  metric:
    enabled: true
